<ul style="padding: 30px; display: inline-block">
    <li>

        <figure class='book'>
    
    
    
            <!-- Front -->
    
    
    
            <ul class='hardcover_front'>
    
                <li>
    
                    <div class="coverDesign yellow">
    
                        <span class="ribbon">NEW</span>
    
                        <h1>CSS</h1>
    
                        <p>TRANSFORM</p>
    
                    </div>
    
                </li>
    
                <li></li>
    
            </ul>
    
    
    
            <!-- Pages -->
    
    
    
            <ul class='page'>
    
                <li></li>
    
                <li>
    
                    <a class="btn" href="#">Download</a>
    
                </li>
    
                <li></li>
    
                <li></li>
    
                <li></li>
    
            </ul>
    
    
    
            <!-- Back -->
    
    
    
            <ul class='hardcover_back'>
    
                <li></li>
    
                <li></li>
    
            </ul>
    
            <ul class='book_spine'>
    
                <li></li>
    
                <li></li>
    
            </ul>
    
        </figure>
    
    </li>
</ul>